version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    restart: unless-stopped
  
  backend:
    build: ./backend
    image: kanzakichiya/kanzaki-blog-backend:latest  # <--- 1. 修改这里
    ports:
      - "8081:8081"
    volumes:
      - ./backend/static/images:/app/static/images
    env_file:
      - .env
    depends_on:
      - db
    restart: unless-stopped

  frontend:
    build: ./frontend
    image: kanzakichiya/kanzaki-blog-frontend:latest # <--- 2. 修改这里
    ports:
      - "5480:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  postgres_data: